@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Noto+Sans&family=Open+Sans:wght@300&family=Oswald:wght@300&family=Raleway:wght@100&family=Roboto:wght@100;300&family=Smooch+Sans:wght@100&display=swap');

body{
    font-family: "Montserrat",'Railway',sans-serif;
    background-color: #040404;
    color: aliceblue;
    position: relative;
    background: transparent;
}
/* Position Header nom*/
.headerContent{
    position: absolute;
}
/*barre de navigation*/
.navbar{
    background-color: #272727;
}
/*date et time*/
.navbar #time{
    font-size: 15px;
    padding-left: 2%;
    word-spacing: 0.5ch;
}
/*background*/
body::before{
     content: "";
     position: fixed;
     background: #040404 url(/images/black.jpg) top no-repeat;
     height: 100%;
     width: 100%;
     filter: brightness(40%);
     left: 0;
     background-size: cover;
     right: 0;
     top: 0;
     height: 100vh;
     z-index: -2;
     animation: increase 30s linear 15ms infinite;
     transition: all 0.2s ease-in-out;
}

@keyframes increase{
    0%{transform: scale(1)}
    100%{transform: scale(1.4)}

}

/*font family init*/
h1,h2,h3,h4,h5{
    font-family: "Montserrat",'Railway',"Open-sans",sans-serif;
}

/*Header nom*/
#header{
    transition: ease-in-out 0.2s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
}

#header *{
    transition: ease-in-out 0.2s;
}

/*mon nom*/
#header h1{
    font-size: 80px;
    font-weight: bold;
    color: #087990;
    margin: 0;
    margin-top: -5%;
    margin-left: 10%;
    padding: 0;
    line-height: 1.5;
    font-weight: 700;
    transition: ease-in-out 0.3s;
    animation: changing 2s alternate-reverse infinite;
}

@keyframes changing {
    100%{
        color: #dadada00;
        
    }
}

#header:hover span{
    transition: ease-in-out 0.3s;
}


#header h4{
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 1s;
    margin-left: 10%;
    transition: ease-in-out 0.2s;
    /*font-weight: 200;*/
}

#header h4:hover{
    background-color: #0000004b;
    padding: 10px;
}

/*Ma description*/
.mb-4{
    position:relative;
    justify-content: center;
    background-color: #0505059a;
}
/*animation ma description*/
.mb-4:hover .mb-4{
    background-color: #050505;

}
/*transition ma description*/
.mb-4 *{
    transition: ease-in-out 0.2s;
}

.mb-4 .card-title{
    font-size: 40px;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    line-height: 2;
    font-weight: lighter;
}

.mb-4 .card-body{
    margin-left: 3%;
}

.mb-4:hover .line{
    color: #00d5ff;
    font-weight: 600;
    padding-bottom: 2px;
}

.mb-4:hover h1{
    font-weight: 300;
    font-size: 46px;
    padding: 0px 10px;
    transition: all ease-in-out 0.2s;
}

.mb-4 .card-text{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    margin: 5px;
    padding: 0;
    line-height: 1.5;
    font-weight: 700;
}

.description{
    margin: 0;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    line-height: 2;
    font-weight:initial;
}


.btDownloadCv{
    margin-top: 2px;
    margin-left: 5%;
    outline: none;
    border: none;
    background-color: rgba(76, 0, 130, 0);
    padding: 7.5px;
    font-size: 16px;
    font-weight: bold;
    color: #087990;
}

.btDownloadCv > a{
    text-decoration: none;
    color: #087990;
}

.btDownloadCv > a:hover{

    color: #00d5ff;
}

.btDownloadCv:hover{
    font-size: 110%;
    color: #00d5ff;
}
/*Mes projets*/
.middeMesProjets *{
    transition: all ease-in-out 0.3s;
}

.middeMesProjets{
    margin: 0;
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 998;
    overflow-y: auto;
}

.MesProjets .icon-box{
    margin: 0;
    margin-top: 30px;
    text-align: center;
    background: #00000098;
    padding: 40px 25px;
    transition: all ease-in-out 0.3s;
    height: 100%;
}

.MesProjets .icon-box i{
    color: #ccccccef;
    font-size:50px;
}


.MesProjets .icon-box:hover{
    background:#000000;
    transform: scale(1.06);
}

.MesProjets .icon-box:hover h4{
    color: #00d5ffd8;
}

.MesProjets .icon-box:hover h5{
   font-size: 18px;
}

.MesProjets .card-title h2{
    font-size: 40px;
    margin: 0;
    margin-left: 0px;
    padding: 0;
    line-height: 2;
    font-weight: lighter;
    transition: all ease-in-out 0.2s;
}
/*animation mes projets*/
.middleMesProjets:hover .MesProjets:hover .card-title h2{
    font-weight: 300;
    font-size: 46px;
    padding: 0px 10px;
    transition: all ease-in-out 0.2s;
}

.MesProjets .icon-box h4{
    transition: all ease-in-out 0.2s;
    font-size: 20px;
    font-weight: bold;
    color: #087990;
    margin: 5px;
    padding: 0;
    line-height: 1.5;
}

.MesProjets .icon-box  h5{
    font-size: 17px;
    margin-top: 35px;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: all ease-in-out 0.2s;
}

.MesProjets .icon-box .description{
    transition: all ease-in-out 0.2s;
    margin: 0;
    margin-top: 40px;
    text-align: justify;
    font-size: 1em;
    line-height: 1.2;
    color: rgb(228, 228, 228);
}

.MesProjets .icon-box .dates{
    transition: all ease-in-out 0.2s;
    margin: 0;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 300;
}

/*Skills*/
.middleSkills{
    margin: 0;
    margin-top: 75px;
}

.middleSkills .row{
    margin: 0;
    max-width: 100%;
    z-index: 996;
    overflow-y: auto;
    padding: 2% 2%;
    transition: ease-in-out 0.3s;
}

.middleSkills .section-title h2{
    font-size: 40px;
    margin: 0;
    margin-bottom: -2%;
    padding: 0;
    font-weight: lighter;
    transition: all ease-in-out 0.2s;
}

.middleSkills:hover h2{
    font-weight: 300;
    font-size: 46px;
    padding: 0px 0px;
    transition: all ease-in-out 0.2s;
}

/*.count-box:hover{
    /*background-color:#17718300;
    transform: scale(1.2);
}*/

.count-box{
    margin-top: 25px;
    padding: 10px;
    background-color: #00000000;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    max-height: 80%;
}

.count-box img{
    position: relative;
    justify-content: center;
    margin: 10px;
    max-height: 100px; 
    transition: ease-in-out 0.3s; 
}

/*.count-box:hover img{
    transition: ease-in-out 0.3s;
    padding-bottom: 10px;  

}*/

.count-box h3{
    font-size: 15px;
    transition: ease-in-out 0.3s;
}

/*.count-box:hover h3{
    padding-bottom: 30px;
    transition: ease-in-out 0.3s;
    font-weight: 700;
}*/
/*Bas de page*/
.footerContact{
    margin: 0;
    margin-top: 5%;
    margin-bottom: 3%;
}

.footerContact .card-title h2{
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: lighter;
    transition: all ease-in-out 0.2s;
}
/*animation bas de page*/
.footerContact:hover h2{
    font-weight: 300;
    font-size: 46px;
    padding: 0px 0px;
    transition: all ease-in-out 0.2s;
}

.footerContact .row{
    background-color: #000000fa;
    padding: 2% 1%;
}

.footerContact .info-box{
    color: #444444;
    padding: 20px;
    width: 100%;
    background: #a1a1a108;
}


.info-box:hover{
    background-color:#17718327;
}


.footerContact .info-box i.bx{
    font-size: 24px;
    color: #087990;
    padding: 14px;
    float: left;
    background: #29292931;
}

.info-box:hover i.bx{
    transition: ease-in-out 0.3s;
    font-size: 30px;

}


.footerContact .info-box h4{
    font-size: 20px;
    color: #adadad;
    font-weight: 700;
    margin: 10px 0 8px 68px;

}

.footerContact .info-box p{
    padding: 0;
    color: white;
    line-height: 24px;
    font-size: 14px;
    margin: 0 0 0 68px;
}

.footerContact .info-box .iconSocial{
    margin: 5px 0 0 68px;
    display: flex;
}

.footerContact .info-box .iconSocial a{
    font-size: 18px;
    margin: 0 10px;
    display: inline-block;
    color: rgba(245, 245, 245, 0.808);
    line-height: 1;
    transition: ease-in-out 0.1s;
}

.footerContact .info-box .iconSocial a:hover{
    transition: ease-in-out 0.1s;
    color: #18add2;
    font-size: 22px;
}



@media screen and (max-width: 746px) {
    .middleAboutMe{
        height: 230vh;

    }    
}

@media screen and (max-width: 726px) {
    #header h1{
        font-size: 50px ;
    }
}

@media screen and (max-width: 465px) {
    #header h1{
        font-size: 40px ;
    }
}

/*iphone XR*/
@media screen and (max-width: 413px) {
    body::before{
        background-attachment: fixed;
    }

    .nav a{
        margin: 0px;
        padding: 0;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }
    
    .middleAboutMe{
        height: 136vh;
        margin: 0;
        width: 100%;
        margin-left: -5%;
    }

    .nav {
        position: fixed;
        left: 16px;
        top: 5px;
        height: 6%;
        margin-left: -3.5%;
        padding: 0;
        font-size: 1em;
        background-color: rgba(109, 109, 109, 0.005);
        z-index: 9991;
    }
    
    #header h1{
        color: #10a7ff;
        position: relative;
        text-align: center;
        bottom: 40px;
        font-size: 2.5em;
        margin-top: 0%;
        margin-left: -2%;
        padding: 3%;
        background-color: rgba(5, 5, 5, 0.829);
        width: 105%;
    }

    #header h4{
        margin: 0;
        position: relative;
        text-align: center;
        font-size: 1.5em;
    }

    .middleSkills{
        margin: 0;
        margin-top: 4%;
    }
}

/*Surface pro*/
@media screen and (max-width: 913px) {
    .middleAboutMe{
        height: 45vh;
        margin: 0;
        margin-left: -3.5%;
    }

    
    .nav {
        position: fixed;
        left: 16px;
        top: 5px;
        height: 6%;
        margin-left: -3.5%;
        padding: 0;
        font-size: 1em;
        background-color: rgba(109, 109, 109, 0.005);
        z-index: 9991;
    }

    .nav a{
        margin: 0px;
        padding: 0;
        font-size:1em;
        color: rgb(255, 255, 255);
    } 

    
}

/*Samsung s8*/
@media screen and (max-width: 415px) {
    .middleAboutMe{
        height: 190vh;
        margin: 0;
        width: 100%;
        margin-left: -5%;
    }
}

/*iphone SE*/
@media screen and (max-width: 376px) {
    .middleAboutMe{
        height: 230vh;
    }
    
}

/*iphone 12 pro*/
@media screen and (max-width: 391px) {
    .middleAboutMe{
        height: 165vh;
    }  
}

/*Pixel 5*/
@media screen and (max-width: 394px) {
    .middleAboutMe{
        height: 175vh;
    }  
}

/*Iphon XR*/
@media screen and (max-width: 415px) {
    .middleAboutMe{
        height: 140vh;
        margin: 0;
        width: 100%;
        margin-left: -5%;
    }

    #header h1{
        color: #10a7ff;
        position: relative;
        text-align: center;
        bottom: 40px;
        font-size: 2.5em;
        margin-top: 0%;
        margin-left: -2%;
        padding: 3%;
        background-color: rgba(5, 5, 5, 0.829);
        width: 105%;
    }

    #header h4{
        margin: 0;
        position: relative;
        text-align: center;
        font-size: 1.5em;
    }

    .nav {
        position: fixed;
        left: 16px;
        top: 5px;
        height: 6%;
        margin-left: -3.5%;
        padding: 0;
        font-size: 1em;
        background-color: rgba(109, 109, 109, 0.005);
        z-index: 9991;
    }

    .nav a{
        margin: 0px;
        padding: 0;
        font-size: 1em;
        color: rgb(255, 255, 255);
    }    
}




    






